.container{
    border: 2px solid white;
    width: auto;
    height: 600px;
    position: relative;
    box-sizing: border-box;
}
.task{
    font-size: 3rem;
    font-family: sans-serif;
    background-color: white;
    color: black;
    position: absolute;
    left: 100px;
    top: 20px;
}
.list{
    font-size: 3rem ;
    font-family: sans-serif;
    color: gray;
    position: absolute;
    left: 235px;
    top: 52px;
}
.test{
    color: red;
    position: absolute;
    left: 950px;
    top: 73px;
}
.add{
    font-size: 25px;
    font-family: sans-serif;
    color: gray;
    position: absolute;
    left: 980px;
    top: 71px;
}
.paris{
    border: 2px red solid;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    left: 80px;
    box-shadow: 5px 5px 10px rgb(85, 84, 84);
}
a{
    text-decoration: none;
}
.paris1{
    font-size: 20px;
    color: rgba(197, 17, 17, 0.795);
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}
.hr{
    width: 85%;
    position: absolute;
    left: 27px;
}
.com{
    font-size: 20px;
    color: red;
    text-decoration:line-through;
    font-family: sans-serif;
    text-align:center ;
    padding-top: 30px;
    padding-left: 15px ;
}
.form{
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 120px;
    left: 5px;
}
.todo{
    border: 2px red solid;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    position: absolute;
    left:320px;
    top: 150px;    
    box-shadow: 5px 5px 10px rgb(85, 84, 84);
}
.todo1{
    font-size: 20px;
    color: rgba(197, 17, 17, 0.795);
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}
.hr1{
    width: 85%;
    position: absolute;
    left: 27px;
}
.com1{
    font-size: 20px;
    color: red;
    text-decoration:line-through;
    font-family: sans-serif;
    text-align:center ;
    padding-top: 30px;
    padding-left: 15px ;
}
.form1{
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 120px;
    left: 5px;
}
.list1{
    border: 2px red solid;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    left: 560px;
    box-shadow: 5px 5px 10px rgb(85, 84, 84);
}
.list2{
    font-size: 20px;
    color: rgba(197, 17, 17, 0.795);
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}
.hr2{
    width: 85%;
    position: absolute;
    left: 27px;
}
.com2{
    font-size: 20px;
    color: red;
    text-decoration:line-through;
    font-family: sans-serif;
    text-align:center ;
    padding-top: 30px;
    padding-left: 15px ;
}
.form2{
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 120px;
    left: 5px;
}
.list3{
    border: 2px red solid;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    position:absolute;
    left: 800px;
    top: 150px;
    box-shadow: 5px 5px 10px rgb(85, 84, 84);
}
.list4{
    font-size: 20px;
    color: rgba(197, 17, 17, 0.795);
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}
.hr3{
    width: 85%;
    position: absolute;
    left: 27px;
}
.com3{
    font-size: 20px;
    color: red;
    text-decoration:line-through;
    font-family: sans-serif;
    text-align:center ;
    padding-top: 30px;
    padding-left: 15px ;
}
.form3{
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 120px;
    left: 5px;
}
.list5{
    border: 2px red solid;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    position: absolute;
    top: 150px;
    left: 1040px;
    box-shadow: 5px 5px 10px rgb(85, 84, 84);
}
.list6{
    font-size: 20px;
    color: rgba(197, 17, 17, 0.795);
    font-family: sans-serif;
    text-align: center;
    padding-top: 20px;
}
.hr4{
    width: 85%;
    position: absolute;
    left: 27px;
}
.com4{
    font-size: 20px;
    color: red;
    text-decoration:line-through;
    font-family: sans-serif;
    text-align:center ;
    padding-top: 30px;
    padding-left: 15px ;
}
.form4{
    font-size: 20px;
    font-family: sans-serif;
    position: absolute;
    top: 120px;
    left: 5px;
}
@media all and (max-width:480px){
    .container{
        height: 550px;
        width: 500px;
        position: relative;
    }
    .add{
        display: none;
    }
    .task{
        position: absolute;
        left: 70px;
    }
    .list{
        position: absolute;
        left: 200px; ;
    }
    .test{
        position:absolute;
        left: 340px ;
    }
    .paris{
        border: 2px solid rgba(231, 105, 105, 0.829);
        height: 60px;
        width: 300px;
    }
    .paris1{
        text-align: left;
        margin-left: 20px;
        color: rgb(170, 168, 168);
    }
    .hr, .com, .form{
        display: none;
    }
    .todo{
        border: 2px solid rgba(231, 105, 105, 0.829);
        height: 60px;
        width: 300px;
        margin-left: 30px;
        position: absolute;
        top: 250px;
        left: 50px;
    }
    .todo1{
        text-align: left;
        margin-left: 20px;
        color: rgb(170, 168, 168);
    }
    .hr1, .com1, .form1{
        display: none;
    }
    .list1{
        border: 2px solid rgba(231, 105, 105, 0.829);
        height: 60px;
        width: 300px;
        position: absolute;
        top: 350px;
        left: 80px;
    }
    .list2{
        text-align: left;
        margin-left: 20px;
        color: rgb(170, 168, 168);
    }
    .hr2, .com2, .form2{
        display: none;
    }
    .list3{
        border: 2px solid rgba(231, 105, 105, 0.829);
        height: 60px;
        width: 300px;
        position: absolute;
        top: 450px;
        left: 80px;
    }
    .list4{
        text-align: left;
        margin-left: 20px;
        color: rgb(170, 168, 168);
    }
    .hr3, .com3, .form3{
        display: none;
    }
    .list5{
        border: 2px solid rgba(231, 105, 105, 0.829);
        height: 60px;
        width: 300px;
        position: absolute;
        top: 550px;
        left: 80px;
    }
    .list6{
        text-align: left;
        margin-left: 20px;
        color: rgb(170, 168, 168);
    }
    .hr4, .com4, .form4{
        display: none;
    }
}